# ABCI host and port to listen
ABCI_HOST=0.0.0.0
ABCI_PORT=26658

# gRPC API host and port to be connected
DRIVE_UPDATE_STATE_HOST=127.0.0.1
DRIVE_UPDATE_STATE_PORT=5000

# RPC API host and port
DRIVE_API_HOST=127.0.0.1
DRIVE_API_PORT=6000

# State level db file
STATE_LEVEL_DB_FILE=./db/state

# DPP Data Provider cache size for contracts
DPP_CONTRACT_CACHE_SIZE=500

# Tendermint host and port settings
# to retrieve identities from
TENDERMINT_HOST=127.0.0.1
TENDERMINT_PORT=26658

# rate limiter max transitions per identity
RATE_LIMITER_MAX_TRANSITIONS_PER_ID = 30
RATE_LIMITER_PER_BLOCK_INTERVAL = 10
