# host and port to listen
ABCI_SERVER_HOST=0.0.0.0
ABCI_SERVER_PORT=26658

# gRpc API host and port to be connected
UPDATE_STATE_API_GRPC_HOST=127.0.0.1
UPDATE_STATE_API_GRPC_PORT=5000

# Storage MongoDB connection string
# Read more: https://docs.mongodb.com/manual/reference/connection-string/
STORAGE_MONGODB_URL=mongodb://127.0.0.1:27017

# Storage MongoDB database name
STORAGE_MONGODB_DB=${MONGODB_DB_PREFIX}main

# DashCore JSON-RPC host, port and credentials
# Read more: https://dash-docs.github.io/en/developer-reference#remote-procedure-calls-rpcs
DASHCORE_JSON_RPC_HOST=127.0.0.1
DASHCORE_JSON_RPC_PORT=9998
DASHCORE_JSON_RPC_USER=dashrpc
DASHCORE_JSON_RPC_PASS=password

# Drive JSON-RPC host, port
DRIVE_JSON_RPC_HOST=127.0.0.1
DRIVE_JSON_RPC_PORT=6000
